$border: #e6e6e6;
$background: #fafafa;
$message-from-background: #00b0ff;
$message-to-background: #eceff1;
$message-textarea-background: #eceff1;
$background-active-user: #00b0ff;
$background-new-message-user: #95d0fe;
