@import "vars";
@import "flexboxgrid";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

div[class*=col-xs]{
    padding-right: 0;
    padding-left: 0;
}

.chat{
    margin-top: 50px;
    border: 1px solid $border;
    .chat_user-list{
        max-height: 600px;
        overflow-y: scroll;
        padding: 0;
        margin: 0 1rem 0 0;
        li{
            position: relative;
            padding: 10px 15px;
            list-style: none;
            cursor: pointer;
            &:after{
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: $border;
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
            &.new{
                animation-name: newmessage;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
            &.active{
                background: $background-active-user;
            }
            img{
                width: 50px;
                height: 50px;
            }
            span{
                padding: 0 10px;
            }
        }
    }
    .chat_message-container{
        max-height: 600px;
        overflow-y: scroll;
        .chat_message-list{
            height: 100%;
            padding: 0 0.5rem;
        }
        .message-list_message{
            color: #fff;
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
            &:before{
                position: absolute;
                top: 19px;
                display: block;
                width: 8px;
                height: 6px;
                content: '\00a0';
                -webkit-transform: rotate(29deg) skew(-35deg);
                transform: rotate(29deg) skew(-35deg);
            }
            &.from{
                background-color: $message-from-background;
                &:before{
                    left: -3px;
                    background-color: $message-from-background;
                }
            }
            &.to{
                float: right;
                color: #1a1a1a;
                background-color: $message-to-background;
                &:before{
                    right: -3px;
                    background-color: $message-to-background;
                }
            }
            img{
                width: 200px;
            }
        }
    }
    .chat_chat-input{
        background: $background;
        padding: 10px 0;
        .textarea{
            background: $message-textarea-background;
            padding: 10px;
            img{
                width: 100px;
            }
        }
        .dropzone{
            i{
                color: #999;
                cursor: pointer;
                margin-left: -30px;
                margin-top: 12px;
            }
        }
        button{
            border: 1px solid $border;
            max-height: 50px;
            cursor: pointer;
        }
    }
}

@keyframes newmessage {
    from {background-color: $background;}
    to {background-color: $background-new-message-user;}
}
